@font-face {
    
    src: url(fonts/Bungee_Tint\,Matemasie/);
    font-family:Bungee_Tint;
    
}
body{
    background-color: black;
}
h1{
    color: white;
    font-family:cursive;
}


#p1{
    color: white;
    font-family: "Bungee Tint";
    font-size: small;
}

#p2{
    color: rgb(255, 255, 255);
    font-family: Matemasie;
    font-size: small;


}


#p3{
    color: white;
    font-family: sans-serif;
    font-size: small;


} 